@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.text-blue-400 {
    color: blue; 
  }
  
  .text-white {
    color: white;
  }
  
  .hover\:text-blue-400:hover {
    color: blue;
  }
  